
body{
    /* Background Color */
    background-color: orange;
}
/* You can combine h1,h2 anything by using ' , ' */

h1 ,h2{
    /* Heading */
    color: green;
    /* position */
    text-align: center;
    border-bottom: 1px dotted darkgreen;
}
p{
    /* Paragraph */
    font-size: 30px; /* Font Size */
    color: purple;
    font-family: sans-serif;
}

/* using id of section in HTML */
#introduction{
    background-color: yellow;
}

/* using class of h2 haeding and paragraph */
.informationh{
    background-color: blue;
}
.informationp{
    background-color: gray;
}
